<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="beantemplet" abstract="true">
      <property name="message1" value="HW M1"></property>
      <property name="message2" value="HW M2"></property>
      <property name="message3" value="HI M3"></property>
   </bean>

   <bean id="india" class="com.sshacker.tutorialpoint.HelloIndia" parent="beantemplet">
      <property name="message1" value="HI M1"></property>
      <property name="message3" value="HI M3"></property>
   </bean>
</beans>